<head>
	<script src="https://kit.fontawesome.com/3b161c540c.js" crossorigin="anonymous"></script>
</head>

<body>
	 <!-- Quality verification -->
	 <div class="product-additional-quality-main">
        <div class="product-additional-quality">
            <div class="product-additional-quality-div">
                <div class="content-main">
                    <img src="https://www.manyavar.com/on/demandware.static/Sites-manyavar-Site/-/default/dwaa5bea16/images/footer-made-in-india-icon.svg" alt="">
                    <p>MADE IN INDIA</p> 
                </div>
               
            </div>
            <div class="product-additional-quality-div">
                <div class="content-main">
                    <img src="https://www.manyavar.com/on/demandware.static/Sites-manyavar-Site/-/default/dwc016f50f/images/footer-quality-icon.svg" alt="">
                    <p>ASSURED QUALITY</p>
                </div>
               
            </div>
            <div class="product-additional-quality-div">
                <div class="content-main">
                    <img src="https://www.manyavar.com/on/demandware.static/Sites-manyavar-Site/-/default/dweb05c5b8/images/footer-secure-payment-icon.svg" alt="">
                <p>SECURE PAYMENTS</p>

                </div>
                
            </div>
            <div class="product-additional-quality-div">
                <div class="content-main">
                    <img src="https://www.manyavar.com/on/demandware.static/Sites-manyavar-Site/-/default/dw263c364c/images/footer-customer-icon.svg" alt="">
                    <p>EMPOWERING WEAVERS</p>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Quality verification -->

	
	<footer class="footer">
		<div class="container row">
			<div class="footer-col">
				<h4>company</h4>
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">visit website</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>get help</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">shipping</a></li>
					<li><a href="#">returns</a></li>
					<li><a href="#">order status</a></li>
					<li><a href="#">payment options</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>online shop</h4>
				<ul>
					<li><a href="#">download</a></li>
					<li><a href="#">changelog</a></li>
					<li><a href="#">github</a></li>
					<li><a href="#">all version</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>follow us</h4>
				<div class="social-links">
					<a href="#"><i class="fa-brands fa-facebook-f"></i></a>
					<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
				</div>
			</div>
		</div>
		<div class="footer-bottom-content">
            <p>Designed By <a href="#">MINIPROJECT</a></p>
            <div class="copyright">
                <p>&copy;Copyright <strong>MINIPROJECT</strong>.All Rights Reserved</p>
            </div>
        </div>
	</footer>
</body>