<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent Item</title>
    <style>
        .container{
            width: 600px;
            height: 500px;
            padding: 40px;
            margin: 70px;
            margin-left: 390px;
            border: 10px solid black;
            text-align: center;
            background-color: antiquewhite;
        }
        .abcd{
            border: 3px solid black;
            font-size: 30px;
            border-radius: 10px;
            padding: 5px;
        }
        input{
            font-size: 30px;
            padding: 10px;
        }
        label{
            font-size: 30px;
        }
        h1{
            font-size: 70px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Rent Item</h1>
    <form action="/products/rentitem" method="POST">
        <label for="productId">Product ID:</label>
        <input type="text" id="productId" name="productId" value="<%= id %>" required><br><br>
        <label for="rentalStart">Rental Start:</label>
        <input type="datetime-local" id="rentalStart" name="rentalStart" required><br><br>
        <label for="rentalEnd">Rental End:</label>
        <input type="datetime-local" id="rentalEnd" name="rentalEnd" required><br><br><br>
        <button type="submit" class="abcd">Rent Item</button>
    </form>
    </div>
</body>
</html>
